embedded/
examples/desktop/ex02
examples/desktop/ex03
examples/desktop/ex04
examples/desktop/ex05
examples/dictionary.dic
include/sodium/
include/mbedtls/
doc_dev/html
doc_dev/latex
src/
*.mk
*.o
*.la
*.a
*.so

